In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df = pd.read_csv('train.csv', error_bad_lines=False)
df.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df_test = pd.read_csv('test.csv', error_bad_lines=False)
df_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X_train, y_train = df.iloc[:, 1:], df.iloc[:, 0]

In [12]:
from xgboost import XGBClassifier

In [13]:
xgboost = XGBClassifier()

In [14]:
xgboost.fit(X_train, y_train)

XGBClassifier(objective='multi:softprob')

In [15]:
pred = xgboost.predict(df_test)

In [16]:
pred

array([2, 0, 9, ..., 3, 9, 2])

In [17]:
df = pd.DataFrame(pred)
df = df.reset_index()
df.columns = ['ImageId', 'Label']
df.head()

   ImageId  Label
0        0      2
1        1      0
2        2      9
3        3      7
4        4      2

In [18]:

df.to_csv('sample_submission.csv', index=False)

In [19]:
len(pred)

28000

In [20]:
df = pd.DataFrame(pred)
df['ImageId'] = range(1, 28001)
df.columns = ['Label', 'ImageId']
df = df[['ImageId', 'Label']]
df.head()

df.to_csv('sample_submission.csv', index=False)